body {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      background: url("img/Background.png") no-repeat;
      background-size: cover;
    }
   .new-do {
      color: #41413f;
      padding-left: 400px;
      display: flex;
      height: 60px;
    }
    .button {
      width: 200px;
      font-size: 1.5rem;
      margin-left: 50px;
      background: #cccccc;
      opacity: 0.8;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      border-radius: 30px;
    }

    .input {
      width: 400px;
      text-align: center;
      font-size: 1.5rem;
      margin-left: 50px;
      background: #faf5f5;
      opacity: 0.8;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      border-radius: 30px;
    }

    .header {
      padding-left: 200px;
      font-size: 2.5rem;

      display: flex;
    }
    .status {
      margin-left: 200px;
      padding-top: 50px;
      display: flex;
    }
    .name-of-status {
      display: flex;
    }

    .text-of-status {
      color:#808080;
      padding-top: 20px;
      font-size: 30px;
      margin-left: 50px;
    }

    .table {
      font-size: 30px;
      color: #41413f;
      background: rgba(250, 245, 245, 0.548);
      margin-top: 30px;
      margin-left: 200px;
      border: white solid 2px;
      margin-right: 600px;
      border-radius: 30px;
    }
    .number-to-do {
      padding-left: 40px;
      text-align: center;
      width: 50px;
      height: 55px;
    }
    .do-list {
      padding-left: 300px;
      text-align: center;
    }
    .delete {
      font-weight: bold;
      margin-left: 500px;
      border-radius: 10px;
    }

    .complete {
      color: rgb(65, 65, 63);
      font-weight: bold;
      border-radius: 10px;
    }
